@using System.Security.Claims
@model LambdaChess.DAL.Models.GameSession

<div id = "test"></div>

<div id="myBoard" style="width: 50%"></div>
<label>Status:</label>
<div id="status"></div>
<label>FEN:</label>
<div id="fen"></div>
<label>PGN:</label>
<div id="pgn"></div>

<link rel="stylesheet"
      href="lib/chessboardjs/dist/chessboard-1.0.0.css"/>

<script>
    var context = {
        gameId: '@Model?.Id',
        side: '@(Model?.WhitePlayer.Id == Guid.Parse(User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value) ? "white" : "black")',
	    pgn: '@Model?.PGN',
    };
</script>

<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/chessboardjs/dist/chessboard-1.0.0.js"></script>
<script src="lib/chess.js/chess.js"></script>
<script src="lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>